/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/
@font-face {
  font-family: 'roboto';
  src: url("fonts/roboto/Roboto-Thin.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("fonts/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Karma';
  src: url("fonts/Karma-Regular.ttf") format("truetype"); }
.option {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;
  animation-duration: 2s;
  animation-delay: 4s; }

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 7px); }
  to {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 7px); }
  to {
    -moz-transform: translate(0, 0px); } }
body {
  font-family: 'roboto'; }

body::-webkit-scrollbar {
  display: none; }

body::scrollbar {
  display: none; }

.branco {
  color: white; }

.texto-centro {
  text-align: center; }

.txt-right {
  text-align: right; }

.typed-cursor {
  display: none; }

.container-fluid {
  padding: 0; }

#sec-1 {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4e4e4e;
  height: 711px; }
  #sec-1 #video {
    /*background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    position: absolute;
    width: 100%;
    opacity: 0.6;
    top: 0; }
    #sec-1 #video .homepage-hero-module {
      border-right: none;
      border-left: none;
      position: relative; }
    #sec-1 #video .no-video .video-container video,
    #sec-1 #video .touch .video-container video {
      display: none; }
    #sec-1 #video .no-video .video-container .poster,
    #sec-1 #video .touch .video-container .poster {
      display: block !important; }
    #sec-1 #video .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000; }
    #sec-1 #video .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute; }
    #sec-1 #video .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%; }
    #sec-1 #video .video-container video {
      position: absolute;
      z-index: 0;
      bottom: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
    #sec-1 #video .video-container video.fillWidth {
      width: auto; }
  @media screen and (max-device-width: 700px) {
    #sec-1 #video {
      display: none; } }
  #sec-1 #conteudo {
    z-index: 1000;
    margin-top: 125px; }
    #sec-1 #conteudo .divisor {
      height: 2px;
      width: 300px;
      margin: 0 auto;
      display: block;
      overflow: hidden;
      margin-top: 24px;
      margin-bottom: 24px;
      background-color: #ffffff; }
    #sec-1 #conteudo h1 {
      color: white;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: bold; }
    #sec-1 #conteudo h4 {
      color: white;
      text-align: center;
      font-size: 26px;
      font-family: 'Karma'; }
  @media screen and (max-device-width: 700px) {
    #sec-1 #conteudo {
      padding: 0 15px 0 15px; }
      #sec-1 #conteudo h1 {
        font-size: 25px; }
      #sec-1 #conteudo h4 {
        font-size: 18px; } }
  #sec-1 p {
    z-index: 1001;
    margin-top: auto;
    margin-bottom: 30px;
    align-self: flex-end;
    color: white;
    text-align: center;
    font-size: 16px; }
    #sec-1 p a {
      float: left;
      -webkit-animation-name: Floatingx;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-name: Floating;
      -moz-animation-duration: 5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out;
      margin-left: 30px;
      margin-top: 5px;
      cursor: pointer; }
      #sec-1 p a img {
        cursor: pointer;
        width: 70px;
        height: 70px; }
  #sec-1 #botao {
    padding-top: 20px;
    text-align: center; }
    #sec-1 #botao button {
      max-width: 90%;
      font-size: 20px;
      text-align: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 0px;
      padding: 10px 20px;
      position: relative;
      border: 2px white solid;
      text-transform: uppercase;
      outline: 0;
      overflow: hidden;
      background: none;
      z-index: 1;
      cursor: pointer;
      transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      -ms-transition: 0.2s ease-in;
      -moz-transition: 0.2s ease-in;
      -webkit-transition: 0.2s ease-in; }
    @media screen and (max-device-width: 700px) {
      #sec-1 #botao button {
        font-size: 12px; } }
    #sec-1 #botao .fill:hover {
      color: #383736; }
    #sec-1 #botao .fill:before {
      content: "";
      position: absolute;
      background: white;
      color: #383736;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      -webkit-transition: top 0.2s ease-in; }
    #sec-1 #botao .fill:hover:before {
      top: 0; }
    @media screen and (max-device-width: 700px) {
      #sec-1 #botao a {
        font-size: 13px; } }

@media screen and (max-device-width: 700px) {
  #sec-1 {
    background-image: url("../video/Diagonal.jpg");
    background-size: cover;
    background-repeat: no-repeat; } }
#sec-2 {
  background-color: #fbfbfb;
  padding-bottom: 50px; }
  #sec-2 h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #444;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }
  #sec-2 .sub-sec {
    transition: all .2s ease-in-out; }
    #sec-2 .sub-sec p {
      font-size: 20px;
      font-family: 'Karma'; }
    #sec-2 .sub-sec .ajuste-img {
      width: 35%;
      padding: 0 0 16px 0; }
  #sec-2 .sub-sec:hover {
    -webkit-filter: grayscale(10%); }

#sec-3 {
  padding-bottom: 35px; }
  #sec-3 h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #444;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }

#sec-4 {
  background-color: #f6f6f6;
  position: relative;
  padding: 65px 32px 45px 32px; }
  #sec-4 #app-container {
    position: absolute;
    top: -45px;
    left: 0;
    padding-left: 0; }
    #sec-4 #app-container #app {
      width: 75%;
      float: left; }
    @media screen and (max-device-width: 700px) {
      #sec-4 #app-container #app {
        display: none; } }
  #sec-4 span {
    color: #333;
    margin-right: 10px; }
  #sec-4 h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #444;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }
  #sec-4 p {
    color: #444;
    font-family: 'Karma';
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px; }
  @media screen and (max-device-width: 700px) {
    #sec-4 p {
      padding-bottom: 30px; } }

#sec-5 {
  padding: 20px 32px 50px 32px; }
  #sec-5 h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #444;
    padding: 32px 0 24px 0;
    margin: 0; }
  #sec-5 p {
    text-align: center;
    font-size: 18px;
    font-family: 'Karma'; }
  #sec-5 #botao {
    padding-top: 20px; }
    #sec-5 #botao button {
      max-width: 90%;
      font-size: 20px;
      color: #FF5F6D;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 0px;
      padding: 10px 20px;
      position: relative;
      border: 2px #FF5F6D solid;
      text-transform: uppercase;
      outline: 0;
      overflow: hidden;
      background: none;
      z-index: 1;
      cursor: pointer;
      transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      -ms-transition: 0.2s ease-in;
      -moz-transition: 0.2s ease-in;
      -webkit-transition: 0.2s ease-in; }
    @media screen and (max-device-width: 700px) {
      #sec-5 #botao button {
        font-size: 12px; } }
    #sec-5 #botao .fill:hover {
      color: white; }
    #sec-5 #botao .fill:before {
      content: "";
      position: absolute;
      background: #FF5F6D;
      color: #FFC371;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      -webkit-transition: top 0.2s ease-in; }
    #sec-5 #botao .fill:hover:before {
      top: 0; }
    @media screen and (max-device-width: 700px) {
      #sec-5 #botao a {
        font-size: 13px; } }

#sec-6 {
  background-color: #fbfbfb;
  padding-bottom: 75px;
  padding-top: 40px; }
  #sec-6 h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    color: #444; }
  #sec-6 p {
    font-size: 18px;
    padding: 0 20px 0 20px;
    text-align: left;
    font-family: 'Karma'; }
    #sec-6 p a {
      text-decoration: underline; }
  @media screen and (max-device-width: 700px) {
    #sec-6 p {
      padding-bottom: 30px; } }

#sec-7 {
  height: 500px;
  background: linear-gradient(to left, #FF5F6D, #FFC371); }
  #sec-7 #logo {
    padding-top: 120px; }
  #sec-7 ul {
    text-align: center;
    padding-top: 32px; }
    #sec-7 ul li {
      font-size: 20px;
      font-family: 'Karma';
      color: white;
      padding-right: 32px;
      display: inline-block;
      text-align: center; }
      #sec-7 ul li a {
        color: white; }
  #sec-7 #social {
    margin-top: 0;
    padding-top: 12px; }

#chat #header {
  background: linear-gradient(to left, #FF5F6D, #FFC371);
  color: white;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 64px; }
  #chat #header .container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    #chat #header .container #voltar {
      color: white;
      display: inline-block; }
      #chat #header .container #voltar a {
        color: white; }
    #chat #header .container p {
      display: inline-block;
      margin-bottom: 0;
      font-size: 24px;
      font-family: 'Montserrat-Bold'; }
#chat #conversa {
  padding: 10px 250px 200px 250px;
  overflow-y: auto; }
  #chat #conversa .mensagem-container {
    margin-bottom: 32px; }
    #chat #conversa .mensagem-container #avatar-mensagem {
      float: left; }
    #chat #conversa .mensagem-container #avatar-resposta {
      float: right; }
    #chat #conversa .mensagem-container .avatar {
      padding-top: 4px;
      vertical-align: super;
      display: inline-block; }
      #chat #conversa .mensagem-container .avatar img {
        width: 24px; }
    #chat #conversa .mensagem-container #mensagem {
      text-align: left;
      font-family: 'Karma';
      color: #636363;
      height: 40px;
      line-height: 40px; }
    #chat #conversa .mensagem-container #resposta {
      text-align: right; }
    #chat #conversa .mensagem-container .texto {
      width: 90%;
      display: inline-block;
      margin-bottom: 0;
      font-size: 24px;
      letter-spacing: 0.1rem;
      text-align: left;
      padding: 1px 15px 0; }
#chat #form-container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 25px;
  background-color: #fbfbfb; }
  #chat #form-container .input-texto-container {
    width: 80%; }
    #chat #form-container .input-texto-container #input-texto {
      width: 100%;
      background-color: #fbfbfb;
      border: none;
      box-shadow: none;
      font-size: 30px; }
  #chat #form-container .input-botao-container {
    width: 15%; }
    #chat #form-container .input-botao-container #botao-enviar {
      width: 100%;
      color: white;
      font-size: 24px;
      background-color: #e04a14;
      border-color: #e04a14;
      border-radius: 8px;
      padding: 10px 20px; }

/*# sourceMappingURL=estilo.css.map */
