/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }

  .option {
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 4s;
      animation-duration: 2s;
      animation-delay: 4s;

  }


$cinza-claro: #f2f2f2;
$laranja-claro: #e04a14;
$laranja-escuro: #b71d19;

@mixin degrade(){
  background: #b71d29;
  background: -moz-linear-gradient(45deg,  #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
  background: -webkit-linear-gradient(45deg,  #b71d19 2%, #e04a14 79%,#e04a14 79%,#e04a14 100%);
  background: linear-gradient(45deg,  #b71d19 2%,#e04a14 79%,#e04a14 79%,#e04a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 );
}

body{
  font-family: 'roboto';
}

.branco{
  color: white;
}

.texto-centro{
  text-align: center;
}

.typed-cursor{display: none}

.container-fluid{
    padding: 0;
}

#sec-1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    height: 711px;
    @include degrade();

    #video{
        /*background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;*/
        position: absolute;
        //height: 711px;
        width: 100%;
        opacity: 0.6;
        top: 0;


        .homepage-hero-module {
            border-right: none;
            border-left: none;
            position: relative;
        }
        .no-video .video-container video,
        .touch .video-container video {
            display: none;
        }
        .no-video .video-container .poster,
        .touch .video-container .poster {
            display: block !important;
        }
        .video-container {
            position: relative;
            bottom: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: #000;
        }
        .video-container .poster img {
            width: 100%;
            bottom: 0;
            position: absolute;
        }
        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }
        .video-container video {
            position: absolute;
            z-index: 0;
            bottom: 0;
        }
        .video-container video.fillWidth {
            width: 100%;
        }


    }
    #conteudo{
        z-index: 1000;
        margin-top: 180px;
        img{

        }
        h1{
            color: white;
            text-align: center;
        }

        h4{
            color: white;
            text-align: center;
        }

    }
        p{
          z-index: 1001;
          margin-top: auto;
          margin-bottom: 30px;
          align-self: flex-end;
          color: white;
          text-align: center;
          font-size: 16px;

          a{
            color: white;
          }
        }

        #botao{
            padding-top: 20px;
            a{
                width: 40%;
                background-color: transparent;
                color: white;
                font-size: 16px;
                border-color: white;
                border-radius: 8px;
                padding: 10px 20px;
            }
        }
}

#sec-2{
  background-color: $cinza-claro;
  padding-bottom: 40px;



    h2{
      text-align: center;
      padding: 32px 0 42px 0;
      margin: 0;
    }

    p{
      font-size: 20px;
    }

    .ajuste-img{
      width: 45%;
      opacity: 0.6;
      padding: 0 0 16px 0
    }
}

#sec-3{
  padding-bottom: 35px;

  h1{
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }
}

#sec-4{
  background-color: darken($cinza-claro, 65%);


  position: relative;
  padding: 32px 32px 32px 32px;

  #app-container{
    position: absolute;
    top: -125px;

    #app{
      width: 65%;
    }
  }


  h1{
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }

  p{
    color: white;
    font-size: 18px;
    padding-bottom: 12px;
  }
}

#sec-5{
  padding: 20px 32px 50px 32px;

  h1{
    text-align: justify;
    padding: 32px 0 24px 0;
    margin: 0;
  }

  p{
    text-align: center;
    font-size: 18px;
  }

  #botao{
      padding-top: 20px;
      a{
          width: 70%;
          color: $laranja-claro;
          font-size: 24px;
          background-color: transparent;
          border-color: $laranja-escuro;
          border-radius: 8px;
          padding: 10px 20px;
      }
  }
}

#sec-6{
  height: 500px;
  @include degrade();

  #logo{
    padding-top: 120px;
  }

  ul{
    text-align: center;
    padding-top: 32px;
    li{
      font-size: 20px;
      color: white;
      padding-right: 32px;
      display: inline-block;
      text-align: center;
      a{
        color: white;
      }
    }
  }

  #social{
    margin-top: 0;
    padding-top: 0;
  }

}

#chat::-webkit-scrollbar {
  display: none;
}

#chat{


  #header{
    @include degrade();
    color: white;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 64px;

    .container{
      display: -webkit-flex;
      display: flex;
      flex-direction: row;

      #voltar{
        color: white;
        display: inline-block;
        a{color: white;}
      }

      p{
        display: inline-block;
        margin-bottom: 0;
        font-size: 18px;
      }
    }
  }

  #conversa{
    padding: 10px 300px 10px 300px;

    .mensagem{
      margin-bottom: 32px;

      .avatar{
        img{
          width: 24px;
        }
        vertical-align: super;
        display: inline-block;
      }
      .texto{
        display: inline-block;
        p{
          margin-bottom: 0;
          padding-left: 10px;
          font-size: 24px;
        }
      }
    }
  }






}
