/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }

$cinza-claro: #f2f2f2;
$cinza-escuro: #f2f2f2;


body{
  font-family: 'roboto';
}

.branco{
  color: white;
}

.texto-centro{
  text-align: center;
}

.typed-cursor{display: none}

.container-fluid{
    padding: 0;
}

#sec-1 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;


    height: 711px;
    background: #b71d29;
    background: -moz-linear-gradient(45deg,  #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
    background: -webkit-linear-gradient(45deg,  #b71d19 2%, #e04a14 79%,#e04a14 79%,#e04a14 100%);
    background: linear-gradient(45deg,  #b71d19 2%,#e04a14 79%,#e04a14 79%,#e04a14 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 );
    #video{
        /*background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;*/
        position: absolute;
        //height: 711px;
        width: 100%;
        opacity: 0.6;


        .homepage-hero-module {
            border-right: none;
            border-left: none;
            position: relative;
        }
        .no-video .video-container video,
        .touch .video-container video {
            display: none;
        }
        .no-video .video-container .poster,
        .touch .video-container .poster {
            display: block !important;
        }
        .video-container {
            position: relative;
            bottom: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: #000;
        }
        .video-container .poster img {
            width: 100%;
            bottom: 0;
            position: absolute;
        }
        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }
        .video-container video {
            position: absolute;
            z-index: 0;
            bottom: 0;
        }
        .video-container video.fillWidth {
            width: 100%;
        }


    }
    #conteudo{
        z-index: 1000;
        img{

        }
        h1{
            color: white;
            text-align: center;
        }

        h4{
            color: white;
            text-align: center;
        }

        #botao{
            padding-top: 20px;
            button{
                background-color: transparent;
                color: white;
                border-color: white;
                border-radius: 8px;
                padding: 10px 20px;
            }
        }
    }

}

#sec-2{
  background-color: $cinza-claro;
  padding-bottom: 40px;

    h2{
      text-align: center;
      padding: 32px 0 42px 0;
      margin: 0;
    }

    p{
      font-size: 20px;
    }

    .ajuste-img{
      width: 30%;
      padding: 0 0 16px 0
    }
}

#sec-3{
  padding-bottom: 35px;
  h1{
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }
}

#sec-4{
  background-color: darken($cinza-claro, 50%);
  position: relative;
  padding: 32px 32px 32px 32px;

  #app-container{
    position: absolute;
    top: -125px;

    #app{
      width: 80%;
    }
  }


  h1{
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }

  p{
    color: white;
    font-size: 18px;
    padding-bottom: 12px;
  }
}
