/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }

  @font-face {
      font-family: 'Montserrat-Bold';
      src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Karma';
        src: url('fonts/Karma-Regular.ttf') format('truetype');
      }

  .option {
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 4s;
      animation-duration: 2s;
      animation-delay: 4s;
  }

$cinza-claro: #fbfbfb;
$cinza-escuro: #444;
$laranja-claro: #e04a14;
$laranja-escuro: #b71d19;
$pastel-escuro: #FF5F6D;
$pastel-claro: #FFC371;

@mixin degrade-oficial(){
  background: #b71d29;
  background: -moz-linear-gradient(45deg,  #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
  background: -webkit-linear-gradient(45deg,  #b71d19 2%, #e04a14 79%,#e04a14 79%,#e04a14 100%);
  background: linear-gradient(45deg,  #b71d19 2%,#e04a14 79%,#e04a14 79%,#e04a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 );
}
@mixin degrade(){
  background: linear-gradient(to left, #FF5F6D , #FFC371);
}

@mixin float(){
   float: left;
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 5s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 5s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;
   margin-left: 30px;
   margin-top: 5px;
}

@-webkit-keyframes Floatingx{
       from {-webkit-transform:translate(0, 0px);}
       65% {-webkit-transform:translate(0, 7px);}
       to {-webkit-transform: translate(0, -0px);    }
   }

   @-moz-keyframes Floating{
       from {-moz-transform:translate(0, 0px);}
       65% {-moz-transform:translate(0, 7px);}
       to {-moz-transform: translate(0, -0px);}
   }

body{
}

body::-webkit-scrollbar {
  display: none;
}
body::scrollbar {
  display: none;
}

.branco{
  color: white;
}

.texto-centro{
  text-align: center;
}

.txt-right{
  text-align: right;
}

.typed-cursor{display: none}

.container-fluid{
    padding: 0;
}

#sec-1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #4e4e4e;
    height: 711px;
    //@include degrade();

    #video{
        /*background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;*/
        position: absolute;
        //height: 711px;
        width: 100%;
        opacity: 0.6;
        top: 0;


        .homepage-hero-module {
            border-right: none;
            border-left: none;
            position: relative;
        }
        .no-video .video-container video,
        .touch .video-container video {
            display: none;
        }
        .no-video .video-container .poster,
        .touch .video-container .poster {
            display: block !important;
        }
        .video-container {
            position: relative;
            bottom: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: #000;
        }
        .video-container .poster img {
            width: 100%;
            bottom: 0;
            position: absolute;
        }
        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }
        .video-container video {
            position: absolute;
            z-index: 0;
            bottom: 0;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;

        }
        .video-container video.fillWidth {
            width: auto;
        }


    }

    @media screen and (max-device-width: 700px) {
      #video{display: none;}
    }

    #conteudo{
        z-index: 1000;
        margin-top: 125px;

        .divisor{
          height: 2px;
          width: 300px;
          margin: 0 auto;
          display: block;
          overflow: hidden;
          margin-top: 24px;
          margin-bottom: 24px;
          background-color: #ffffff;
        }
        img{
          //width: 100%;
        }
        h1{
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: bold;
        }

        h4{
          font-family: 'Karma';
          font-size: 24px;
          font-weight: 400;
          line-height: 28px;
          text-align: center;
          letter-spacing: .5px;
          color: #fff;
        }

        #balao{

          img{
            width: 400px;

          }
          position: relative;
          float: right;
          top: -130px;
          right: -30px;


        }

    }

    @media screen and (max-device-width: 700px) {
                  #conteudo{
                    padding: 0 15px 0 15px;

                    h1{
                      font-size: 25px;
                    }
                    h4{
                      font-size: 18px;
                    }
                  }
              }
        p{
          z-index: 1001;
          margin-top: auto;
          margin-bottom: 30px;
          align-self: flex-end;
          color: white;
          text-align: center;
          font-size: 16px;

          a{
            @include float();
            cursor: pointer;
            img{
              cursor: pointer;
              width: 80px;
              height: 80px;
            }
          }
        }

        #botao{
            padding-top: 20px;
            text-align: center;

            button {
              max-width: 90%;
              font-size: 20px;
              text-align: center;
              color: white;
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              border-radius: 0px;
              padding: 10px 20px;
              position: relative;


              border: 2px white solid;
              text-transform: uppercase;
              outline: 0;
              overflow:hidden;
              background: none;
              z-index: 1;
              cursor: pointer;
              transition:         0.2s ease-in;
              -o-transition:      0.2s ease-in;
              -ms-transition:     0.2s ease-in;
              -moz-transition:    0.2s ease-in;
              -webkit-transition: 0.2s ease-in;
            }

            @media screen and (max-device-width: 700px) {
                          button{
                            font-size: 12px;
                          }

                      }


            .fill:hover{
              color: #383736;
            }

            .fill:before {
              content: "";
              position: absolute;
              background: white;
              color: #383736;
              bottom: 0;
              left: 0;
              right: 0;
              top: 100%;
              z-index: -1;
              -webkit-transition: top 0.2s ease-in;
            }

            .fill:hover:before {
              top: 0;
            }




            @media screen and (max-device-width: 700px) {
                          a{
                            font-size: 13px;
                          }

                      }
        }
}
@media screen and (max-device-width: 700px) {
              #sec-1{
                background-image: url("../video/Diagonal.jpg");
                background-size: cover;
                background-repeat: no-repeat;
              }

          }

#sec-2{
  background-color: $cinza-claro;
  padding-bottom: 50px;



    h2{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: $cinza-escuro;
      text-align: center;
      padding: 32px 0 42px 0;
      margin: 0;
    }


    .sub-sec{
      transition: all .2s ease-in-out;
      p{
        font-size: 20px;
        font-family: 'Karma';
      }

      .ajuste-img{
        width: 35%;
        // opacity: 0.6;
        padding: 0 0 16px 0
      }
    }
    .sub-sec:hover{
-webkit-filter: grayscale(10%);    }
}

#sec-3{
  padding-bottom: 35px;

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $cinza-escuro;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }
}

#sec-4{
  background-color: darken($cinza-claro, 2%);



  position: relative;
  padding: 65px 32px 45px 32px;

  #app-container{
    position: absolute;
    top: -45px;
    left: 0;
    padding-left: 0;

    #app{
      width: 75%;
      float: left;
    }
    @media screen and (max-device-width: 700px) {
                #app{
                    display: none;
                }

            }
  }
 span{
   color: #333;
   margin-right: 10px
 }

  h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $cinza-escuro;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }

  p{
    color: $cinza-escuro;
    font-family: 'Karma';
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
  }

  @media screen and (max-device-width: 700px) {
                p{
                    padding-bottom: 30px;
                }

            }
}

#sec-5{
  padding: 20px 32px 50px 32px;


  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    color: $cinza-escuro;
    padding: 32px 0 24px 0;
    margin: 0;
  }

  p{
    text-align: center;
    font-size: 18px;
    font-family: 'Karma';

  }

  #botao{
      padding-top: 20px;
      button {
        max-width: 90%;
        font-size: 20px;
        color: $pastel-escuro;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0px;
        padding: 10px 20px;
        position: relative;


        border: 2px $pastel-escuro solid;
        text-transform: uppercase;
        outline: 0;
        overflow:hidden;
        background: none;
        z-index: 1;
        cursor: pointer;
        transition:         0.2s ease-in;
        -o-transition:      0.2s ease-in;
        -ms-transition:     0.2s ease-in;
        -moz-transition:    0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
      }

      @media screen and (max-device-width: 700px) {
                    button{
                      font-size: 12px;
                    }

                }


      .fill:hover{
        color: white;
      }

      .fill:before {
        content: "";
        position: absolute;
        background: $pastel-escuro;
        color: $pastel-claro;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.2s ease-in;
      }

      .fill:hover:before {
        top: 0;
      }




      @media screen and (max-device-width: 700px) {
                    a{
                      font-size: 13px;
                    }

                }
  }

}

#sec-6{
  background-color: $cinza-claro;
  padding-bottom: 75px;
  padding-top: 40px;

  h2{
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    color: $cinza-escuro;
  }

  p{
    font-size: 18px;
    padding: 0 20px 0 20px;
    text-align: left;
    font-family: 'Karma';


    a{
      text-decoration: underline;
    }
  }

  @media screen and (max-device-width: 700px) {
                p{
                    padding-bottom: 30px;
                }

            }
}

#sec-7{
  height: 500px;
  @include degrade();

  #logo{
    padding-top: 120px;
    img{
      //width: 10%;
    }
  }

  ul{
    text-align: center;
    padding-top: 32px;
    li{
      font-size: 20px;
      font-family: 'Karma';
      color: white;
      padding-right: 32px;
      display: inline-block;
      text-align: center;
      cursor: pointer;

      a{
        color: white;
        cursor: pointer;
      }
    }
  }

  #social{
    margin-top: 0;
    padding-top: 12px;
  }

  #modal{
    .modal-content{
      border-radius: 0;
      border: 0;
    }

    .modal-header{
      border-bottom: 0;

      .close{
        font-size: 40px;
        padding-right: 10px;
      }
    }

    .modal-body{
      padding: 10px 55px 30px 55px;
      p{
        font-size: 18px;
        font-family: 'Karma';
        color: #636363;


      }
    }
  }

}

// PAGINA DO CHAT
#chat{

  #intro{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 32px 64px 32px 64px;
    position: absolute;
    @include degrade();
    height: 100%;
    width: 100%;

    #intro-avatar{
      align-self: center;
    }

    #intro-msg{
      align-self: center;
      font-size: 64px;
      color: white;
      font-family: 'Montserrat-Bold';

    }
  }


  #header{
    @include degrade();
    color: white;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 64px;

    .container{
      display: -webkit-flex;
      display: flex;
      flex-direction: row;

      #voltar{
        align-self: center;
        color: white;
        display: inline-block;
        a{color: white;}
      }
      img{
        width: 50px;

      }

      p{
        align-self: center;
        display: inline-block;
        margin-bottom: 0;
        font-size: 32px;
        font-family: 'Montserrat-Bold';
      }
    }

    #avatar-eloisa{
      -webkit-box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      transition: all 0.2s ease-out;
      cursor: pointer;


      height: 150px;
      width: 150px;
      line-height: 150px;
      background-image: url(../img/Eloisa-mini.png);

      position: absolute;
      right: 300px;
      top: 60px;

      &:hover{
        -webkit-box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);
        cursor: pointer;

      }
    }
  }

  #conversa{
    padding: 10px 250px 200px 250px;
    overflow-y: auto;

    .mensagem-container{
      margin-bottom: 32px;

      #avatar-mensagem{
        float: left;
      }
      #avatar-resposta{
        float: right;
      }

      .avatar{
        padding-top: 4px;
        img{
          width: 24px;
        }
        vertical-align: super;
        display: inline-block;
      }

      #mensagem{
        text-align: left;
        font-family: 'Karma';
        color: #636363;
        height: 40px;
        line-height: 40px;
        p{
          font-size: 22px;
        }
      }

      #resposta{
        text-align: right;
        font-family: 'Karma';
        color: #636363;
        height: 40px;
        line-height: 40px;
        p{
          font-size: 22px;
        }
      }
      #avatar-resposta{
        height: 40px;
        span{
          font-size: 20px;
          padding: 9px 16px;
          border-radius: 8px;
          background-color: $pastel-claro;
          color: white;
          transition: background-color 0.5s ease;
          &:hover{
            background-color: $pastel-escuro;
          }
        }
      }

      .texto{
        width: 90%;
        display: inline-block;
        margin-bottom: 0;
        font-size: 24px;
        letter-spacing: 0.1rem;
        text-align: left;
        padding: 1px 15px 0;

      }
    }
  }

  #form-container{
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 25px;
    background-color: $cinza-claro;


    .input-texto-container{
      width: 80%;
      #input-texto{
        width: 100%;
        background-color: $cinza-claro;
        border: none;
        box-shadow: none;
        font-size: 24px;
        font-family: 'Karma';

      }
    }

    .input-botao-container{
      width: 15%;
      #botao-enviar{
        width: 100%;
        color: white;
        font-family: 'Karma';
        font-size: 24px;
        line-height: 24px;
        background-color: $pastel-escuro;
        border-radius: 0;
        border: 0;
        padding: 19px 20px 15px 20px;
        transition: 0.3s ease;

        &:hover{
          opacity: 0.8;

        }
      }
    }




  }






}
