/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/
@font-face {
  font-family: 'roboto';
  src: url("fonts/roboto/Roboto-Thin.ttf") format("truetype"); }
.option {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;
  animation-duration: 2s;
  animation-delay: 4s; }

body {
  font-family: 'roboto'; }

body::-webkit-scrollbar {
  display: none; }

body::scrollbar {
  display: none; }

.branco {
  color: white; }

.texto-centro {
  text-align: center; }

.typed-cursor {
  display: none; }

.container-fluid {
  padding: 0; }

#sec-1 {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 711px;
  background: #b71d29;
  background: -moz-linear-gradient(45deg, #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
  background: -webkit-linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  background: linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 ); }
  #sec-1 #video {
    /*background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    position: absolute;
    width: 100%;
    opacity: 0.6;
    top: 0; }
    #sec-1 #video .homepage-hero-module {
      border-right: none;
      border-left: none;
      position: relative; }
    #sec-1 #video .no-video .video-container video,
    #sec-1 #video .touch .video-container video {
      display: none; }
    #sec-1 #video .no-video .video-container .poster,
    #sec-1 #video .touch .video-container .poster {
      display: block !important; }
    #sec-1 #video .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000; }
    #sec-1 #video .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute; }
    #sec-1 #video .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%; }
    #sec-1 #video .video-container video {
      position: absolute;
      z-index: 0;
      bottom: 0; }
    #sec-1 #video .video-container video.fillWidth {
      width: 100%; }
  #sec-1 #conteudo {
    z-index: 1000;
    margin-top: 180px; }
    #sec-1 #conteudo h1 {
      color: white;
      text-align: center; }
    #sec-1 #conteudo h4 {
      color: white;
      text-align: center; }
  #sec-1 p {
    z-index: 1001;
    margin-top: auto;
    margin-bottom: 30px;
    align-self: flex-end;
    color: white;
    text-align: center;
    font-size: 16px; }
    #sec-1 p a {
      color: white; }
  #sec-1 #botao {
    padding-top: 20px; }
    #sec-1 #botao a {
      width: 40%;
      background-color: transparent;
      color: white;
      font-size: 16px;
      border-color: white;
      border-radius: 8px;
      padding: 10px 20px; }

#sec-2 {
  background-color: #f2f2f2;
  padding-bottom: 40px; }
  #sec-2 h2 {
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }
  #sec-2 p {
    font-size: 20px; }
  #sec-2 .ajuste-img {
    width: 45%;
    opacity: 0.6;
    padding: 0 0 16px 0; }

#sec-3 {
  padding-bottom: 35px; }
  #sec-3 h1 {
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }

#sec-4 {
  background-color: #4c4c4c;
  position: relative;
  padding: 32px 32px 32px 32px; }
  #sec-4 #app-container {
    position: absolute;
    top: -125px; }
    #sec-4 #app-container #app {
      width: 65%; }
  #sec-4 h1 {
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0; }
  #sec-4 p {
    color: white;
    font-size: 18px;
    padding-bottom: 12px; }

#sec-5 {
  padding: 20px 32px 50px 32px; }
  #sec-5 h1 {
    text-align: justify;
    padding: 32px 0 24px 0;
    margin: 0; }
  #sec-5 p {
    text-align: center;
    font-size: 18px; }
  #sec-5 #botao {
    padding-top: 20px; }
    #sec-5 #botao a {
      width: 70%;
      color: #e04a14;
      font-size: 24px;
      background-color: transparent;
      border-color: #b71d19;
      border-radius: 8px;
      padding: 10px 20px; }

#sec-6 {
  height: 500px;
  background: #b71d29;
  background: -moz-linear-gradient(45deg, #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
  background: -webkit-linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  background: linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 ); }
  #sec-6 #logo {
    padding-top: 120px; }
  #sec-6 ul {
    text-align: center;
    padding-top: 32px; }
    #sec-6 ul li {
      font-size: 20px;
      color: white;
      padding-right: 32px;
      display: inline-block;
      text-align: center; }
      #sec-6 ul li a {
        color: white; }
  #sec-6 #social {
    margin-top: 0;
    padding-top: 0; }

#chat #header {
  background: #b71d29;
  background: -moz-linear-gradient(45deg, #b71d19 2%, #bf1c19 79%, #e04a14 79%, #e04a14 100%);
  background: -webkit-linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  background: linear-gradient(45deg, #b71d19 2%, #e04a14 79%, #e04a14 79%, #e04a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d19', endColorstr='#e04a14',GradientType=1 );
  color: white;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 64px; }
  #chat #header .container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    #chat #header .container #voltar {
      color: white;
      display: inline-block; }
      #chat #header .container #voltar a {
        color: white; }
    #chat #header .container p {
      display: inline-block;
      margin-bottom: 0;
      font-size: 18px; }
#chat #conversa {
  padding: 10px 300px 10px 300px; }
  #chat #conversa .mensagem {
    margin-bottom: 32px; }
    #chat #conversa .mensagem .avatar {
      vertical-align: super;
      display: inline-block; }
      #chat #conversa .mensagem .avatar img {
        width: 24px; }
    #chat #conversa .mensagem .texto {
      display: inline-block; }
      #chat #conversa .mensagem .texto p {
        margin-bottom: 0;
        padding-left: 10px;
        font-size: 24px; }

/*# sourceMappingURL=estilo.css.map */
