<div id="chat">
  <div class="container-fluid">

    <div id="header">
      <div class="container">
        <div id="voltar">
          <a href="index.html"> <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i> </a>
        </div>
        <p class="center-block">Fale com a Eloisa!</p>
        <div id="voltar">
          <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true" style="opacity:0"></i>
        </div>
      </div>
    </div>

    <div id="conversa" class=" ">

      <!--TEMPLATE MENSAGEM-->
      <script id="hidden-template-mensagem" type="text/x-custom-template">
        <div  class="mensagem-container animated ">
          <div id="avatar-mensagem" class="avatar">
            <img src="img/logo-avatar.png" alt="">
          </div>
          <div id="mensagem" class="texto">
            <p id="txt"></p>
          </div>
        </div>
      </script>
      <!--TEMPLATE MENSAGEM-->

      <!--TEMPLATE RESPOSTA-->
      <script id="hidden-template-resposta" type="text/x-custom-template">
      <div class="txt-right mensagem-container animated">
        <div id="resposta" class="texto">
          <p id="txt"></p>
        </div>
        <div id="avatar-resposta" class="avatar">
          <span id="avatar-cliente"></span>
        </div>
      </div>
      </script>
      <!--TEMPLATE RESPOSTA-->




    <!-- FORM -->
    <div id="form-container" class="animated bounceInUp" ng-hide="escondeForm">
      <form class="form-inline container" ng-submit="enviaNome()">
        <div class="input-texto-container form-group">
          <input type="text" class="form-control" id="input-texto" placeholder="digite aqui" ng-model="usuario.nome">
        </div>
        <div class="input-botao-container form-group">
          <button type="submit" id="botao-enviar" class="btn btn-default">Enviar</button>
        </div>
      </form>
    </div>
    <!-- FORM -->



  </div>
</div>


</div>
