<div id="chat">
  <div id="intro" class="animated">
    <div id="intro-avatar" class="col-md-5">
      <img class="img-responsive animated bounceIn" src="img/Eloisa.png">
    </div>
    <div id="intro-msg" class="col-md-7">

    </div>
  </div>
  <div class="container-fluid">

    <div id="header">
      <div class="container">
        <div id="voltar">
          <a href="index.html"> <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i> </a>
        </div>
        <p class="center-block">Fale com a Eloisa!</p>
        <div id="voltar">
          <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true" style="opacity:0"></i>
        </div>
      </div>
      <div id="avatar-eloisa" class="img-circle hide animated">
      </div>
    </div>

    <div id="conversa" class=" ">

      <!--TEMPLATE MENSAGEM-->
      <script id="hidden-template-mensagem" type="text/x-custom-template">
        <div  class="mensagem-container animated ">
          <div id="avatar-mensagem" class="avatar">
            <img src="img/logo-avatar.png" alt="">
          </div>
          <div id="mensagem" class="texto">
            <p id="txt"></p>
          </div>
        </div>
      </script>
      <!--TEMPLATE MENSAGEM-->

      <!--TEMPLATE RESPOSTA-->
      <script id="hidden-template-resposta" type="text/x-custom-template">
      <div class="txt-right mensagem-container animated">
        <div id="resposta" class="texto">
          <p id="txt"></p>
        </div>
        <div id="avatar-resposta" class="avatar">
          <span id="avatar-cliente"></span>
        </div>
      </div>
      </script>
      <!--TEMPLATE RESPOSTA-->




    <!-- FORM -->
    <div id="form-container" class="animated bounceInUp" ng-hide="chatCtrl.escondeForm">
      <form name="nomeUsuario" class="form-inline container" ng-submit="chatCtrl.enviaNome()">
        <div class="input-texto-container form-group">
          <input
          type="text"
          name="nome"
          required
          class="form-control"
          id="input-texto"
          placeholder="digite seu nome aqui!"
          ng-model="chatCtrl.usuario.nome">

        </div>

        <div class="input-botao-container form-group">
          <button type="submit" id="botao-enviar" class="btn btn-default">Enviar</button>
        </div>
      </form>
    </div>
    <!-- FORM -->

<script>
  var divHover = null,
  windowClick = false;

$(function(){
$(window).mousedown(function(){
  windowClick = true;
});

$(window).mouseup(function(){
  windowClick = false;
});

$('#teste').hover(function(){
  if(divHover === null){
    divHover = $(this);
  }
}, function(){
  if(windowClick === false){
    divHover = null;
    $(this).css('z-index', '0');
  }
});

$(window).mousemove(function(e){
  if(windowClick === true && divHover != null){
    divHover.css({ top: e.clientY - divHover.height() / 2 + 'px', left: e.clientX - divHover.width() / 2 + 'px', position: 'absolute', zIndex: '1' });
  }
});
})
</script>

  </div>
</div>


</div>
